.container {
    width: 100%;
}

table {
    text-align: center;
    border-collapse: separate;
    border: 1px solid #ddd;
    border-spacing: 10px;
    border-radius: 10px;
    background: #fdfdfd;
    font-family: Roboto;
    font-size: 14px;
}

tr {
    height: 40px;
}

td {
    width: 200px;
}

td, th {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 10px;
}

#button {
    background: #E4E4E4;
    text-align: center;
}

input, input[type="input"] {
    width: 204px;
    border: 1px solid #ddd;
    height: 36px;
    border-radius: 10px;
}